// uikit modifications
.uk-offcanvas-bar .uk-close,
.uk-offcanvas-bar .uk-nav-default > li > a {
  color: hsla(0, 0%, 100%, 0.8);
}
.uk-offcanvas-bar .uk-nav-default {
  font-size: $global-font-size;
}
.uk-logo > img {
  height: 30px;
}
// custom dropdown icon
.fa-angle-down.fa-sm.dropdown-icon {
  margin-left: 3px;
  margin-top: 2px;
}
// offcanvas search input icon
.search-input-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $global-muted-color;
  width: 40px;
}