// single post comments
.uk-comment-list .uk-comment~ul {
  padding-left: 0.875rem;
}
.uk-comment-primary {
  padding: 30px 0 0 0;
  background-color: transparent;
}
.uk-comment-list .uk-comment~ul {
  margin: 20px 0 0;
}
.uk-comment-list>:nth-child(n+2) {
  margin-top: 20px;
}
@media only screen and (min-width:980px) {
  .uk-comment-list .uk-comment~ul {
    padding-left: 1.75em;
  }
}