// dark backgrounds
body.uk-light,
.uk-light .uk-modal-dialog,
.uk-light .uk-navbar-dropdown, 
.uk-light .uk-section-default, 
.uk-light .uk-background-default {
  background: $global-secondary-background;
}
// dark muted backgrounds
.uk-light .uk-background-muted, 
.uk-light .uk-modal-close-full, 
.uk-light .uk-section-muted, 
.uk-light .uk-tile-muted {
  background: $global-emphasis-color;
}
// links
.uk-light .uk-navbar-dropdown-nav > li > a {
  color: $inverse-global-muted-color;
}
// links focus/hover
.uk-light .uk-navbar-dropdown-nav > li > a:focus, 
.uk-light .uk-navbar-dropdown-nav > li > a:hover {
  color: $inverse-global-color;
}
// borders
.uk-light .theme-border {
  border: 1px solid $inverse-global-border;
}
.uk-light .theme-border-top {
  border-top: 1px solid $inverse-global-border;
}
.uk-light .theme-border-right {
  border-right: 1px solid $inverse-global-border;
}
.uk-light .theme-border-bottom,
.uk-light .the-header.uk-sticky-below {
  border-bottom: 1px solid $inverse-global-border;
}
.uk-light .theme-border-left {
  border-left: 1px solid $inverse-global-border;
}